/*--------------------------------------------------------------
# Generales
--------------------------------------------------------------*/

body {
    background-color: #fffbf7;
    margin: 0;
}

input,
select,
textarea {
    outline: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Encabezado
--------------------------------------------------------------*/

.header_menu {
    background-color: #fffbf7;
    margin: 0 20px 0;
    height: 60px;
    font-size: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 15px;
}

.header_menu>* {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.header_menu .logo_header {
    width: 15%;
}

.header_menu .navbar {
    width: 70%;
    text-align: center;
}

.header_menu .navbar ul {
    color: #025157;
    padding: 0;
}

.header_menu li {
    display: inline;
}

.acciones {
    width: 15%;
}

.acciones>* {
    margin: 0 10px;
}

.acciones a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #67b54b;
    text-decoration: none;
}

.acciones button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}


/*--------------------------------------------------------------
# 1 seccion
--------------------------------------------------------------*/

.titulos {
    margin-top: 140px;
    text-align: center;
}

.tit_principal {
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;
    color: #025157;
    margin: 0;
    margin-bottom: 24px;
}

.sub_principal {
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 20px;
    color: #46484c;
    margin: 0;
    margin-bottom: 30px;
}

.email_inscripcion {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #b6b6b6;
    height: 40px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
}

.inscripcion {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    background-color: #025157;
    height: 55px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 6px 20px;
    margin-left: -50px;
}

.promo {
    margin-top: 15px;
    margin-bottom: 16px;
}

.tit_promo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8b8b8bcc;
    margin: 0;
}

.tit_promo strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #8b8b8bcc;
}

.titulos .servicios {
    vertical-align: middle;
    border-style: none;
    margin: 15px 0 16px 0;
}

.intro {
    text-align: center;
    width: 70%;
}


/*--------------------------------------------------------------
# 2 seccion
--------------------------------------------------------------*/

.intro {
    margin: 32px 0 16px;
}

.intro img {
    width: 70%;
}

.promo {
    display: flex;
    max-width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

.publish {
    padding-left: 10px;
}

.explanatory-video .imgvideo {
    width: 120px;
    margin-top: 10px;
}

.publish h3 {
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    margin: 0;
    margin-bottom: 24px;
}

.publish>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish .action {
    color: #8b8b8bcc;
    margin-top: 15px;
}

.publish .signup-form input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #b6b6b6;
    height: 40px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
}

.publish .signup-form button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    background-color: #025157;
    height: 55px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 6px 20px;
    margin-left: -50px;
}